* {
  font-family: "Mooli", sans-serif;
}
.bg-art {
  background: linear-gradient(rgba(255, 252, 252, 0.884), rgba(255, 252, 252)),
    /* solid red overlay */ url("assets/bg.png"); /* background image */
  background-size: 400px; /* make image cover full area */
  background-position: center; /* center the image */
  background-attachment: fixed;
}

.active {
    background-color: black;
    color: white;
}